body {
  width: 700px;
  margin: 10px auto;
  background-color: #282f27;
  background: linear-gradient(rgb(48,68,48), black);
  font-size: 16px;
  max-width: 700px;

}



nav ul li a span {
	display: none;

}

nav ul li a {
	display: block; width: 115px; height: 30px;

}

	nav ul li:nth-child(1) a {
      background: radial-gradient(#b6a395, black);
  border: solid;
  border-color: black;


	}
	nav ul li:nth-child(2) a {
    background: radial-gradient(#815a3b, black);
    border: solid;
      border-color: black;


	}
	nav ul li:nth-child(3) a {
	      background: radial-gradient(#b6a395, black);
    border: solid;
  border-color: black;
	}
	nav ul li:nth-child(4) a {
	  background: radial-gradient(#815a3b, black);
    border: solid;
  border-color: black;
	}


nav ul {
	list-style: none; overflow: hidden; position: relative;
  text-align: center;
}
	nav ul li {
		float: left; margin: 0 10px 0 0;
    margin-bottom: 50px;
    text-align: center;
	}



p {
  font-size: 16px;
  line-height: 2;
  text-align: left;
}


nav li {
  display: inline;
  padding: 20px;
  color: #c60707;
    text-shadow: 2px 2px gray;
    text-align: center;



  }

  nav a.link {
    color: #c60707;
      text-shadow: 2px 2px black;
      text-align: center;
      margin-top: 20px;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  max-height: 700px;
  height: auto;
  width: auto;
}
footer {
  height: 20px;
  background-color: #815a3b;
  background: linear-gradient(#815a3b, black);
  outline: 1px black;
  color: #fff0e6;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 9px;
  font-weight: bolder;
  text-shadow: 2px 2px black;
  margin-top: 25px;



}

nav {
  height: 75px;


  color: #fff0e6;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 2px 2px black;

}

hr {

}

h1 {
  font-family: 'Skranji', cursive;
  color: #fff0e6;
  font-size: 95px;
  margin-top: 50px;
  text-align: center;

}
h2 {
font-family: 'Skranji', cursive;
  color: #fff0e6;
  font-size: 40px;
margin-top: 25px;
  margin-left: 300px;
  margin-bottom: 25px;
}
h3 {
font-family: 'Kavivanar', cursive;
  color: #815a3b;
  font-size: 24px;}

p {
  font-family: 'Kavivanar', cursive;
  color: #b6a395;
  font-size: 12px;

}
a:link {
  text-decoration: none;
  color: white;
  font-family: 'Kavivanar', cursive;

}

a:visited {
  color: #C9A676;
}

a:hover {

  color: white;
}

#thumbnail img {
  display: inline-block;
  text-align: center;
  padding-left: 6px;



}
